<!-- 模板 -->
<div class="left-time-line">
  <ul class="timeline-dots">
    
  </ul>
</div>

<div class="right-time-range">
  <div class="item-box">
    <div class="time-key">
      <p class="current-key">周</p>
      <div class="list-key">
        <span type="quarter">季</span>
        <span type="month">月</span>
        <span type="year">年</span>
      </div>
      
    </div>
    <div class="arrow"></div>
  </div>
</div>

